.fetch-container {
  background: linear-gradient(70deg, #c3a5eb, #ddeff8);
  height: 100vh;
  padding: 40px;
  overflow: scroll;
}
/*#fad4ff*/

/*overflow: hidden;*/

.app-title {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}